/* 
    Document   : style
    Created on : 2010-12-23, 10:28:56
    Author     : mn
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body, td {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    line-height: 17px;
}

#userinfo {
    text-align: left;
    padding: 10px;
}

#userinfo td {
    width: 250px;
}

#main {
    width: 780px;
    margin: 0 auto;
    text-align: center;
}

#main_menu {
    padding: 20px;
}

.main_area {
    width: 780px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

label, input {
    margin: 10px;
}

form li {
    display: list-item;
    text-align: left;
}

form label {
    width: 120px;
    display: inline-block;
}

#footer {
    width: 780px;
    margin: 30px auto;
    text-align: center;
}

.title_bar {
    background-color: green;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#events {
    text-align: left;
}

#events form {
    margin: 20px 0;
}

#event_input_small {
    width: 700px;
}

#actions {
    width: 780px;
    margin-bottom: 15px;
    height: 20px;
    text-align: center;
}

#actions ul {
    list-style: none;
    margin: 15px auto;
}

#actions li {
    float: left;
    background-color: green;
    height: 20px;padding: 5px 15px;
    margin: 0 5px;
}

#actions a {
    text-decoration: none;
    color: #fff;
}

.clear {
    clear: both;
}

.myproject {
    font-weight: bold;
}

.list {
    text-align: left;
}

form ul li {
    list-style: none;
}