/nbproject/
/application/logs/
/application/cache/
/application/modules/email/config/email.php
/application/config/database_magnax_pl.php
/application/config/database.php
/simtrd/node/lib/
/modules/
/system/
/doc/
/report/
/simtrd/config.py
/newEmptyPHP.php
/application/config/general.php
/simtrd/config.php
/simtrd/node/node_modules/
/simtrd/node/nohup.out
.htaccess
/.htaccess
/simtrd/node/config.js
/application/config/redis.php
/application/config/testing/database.php