DirectoryIndex index.php
php_flag short_open_tag on
SetEnv KOHANA_ENV development
RewriteEngine on
RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#normal rule
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]

#rule when server doesn't provide PATH_INFO
#RewriteRule ^(.*)$ ./index.php?kohana_uri=$0 [PT,L,QSA]
