/*
Document   : style
Created on : 2012-11-02, 22:24:11
Author     : mn
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*
/
/  colors 
/  color scheme: http://colorschemedesigner.com/#3u61Tw0w0w0w0
/
*/
root {
  display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  line-height: 17px;
  background-color: #245a7a;
  color: #62d99c; }

table, tr, td {
  font-family: Verdana, sans-serif;
  font-size: 10pt; }

.title_bar {
  background-color: #7279d8;
  color: #081073;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  padding: 10px; }

a {
  color: #ffa940;
  text-decoration: none; }
  a:hover {
    color: #ffc073; }

#userinfo {
  text-align: left;
  padding: 10px; }

#userinfo td {
  min-width: 200px; }

#main {
  width: 780px;
  margin: 0 auto;
  text-align: center; }

#main_menu {
  padding: 20px; }

.main_area {
  width: 780px;
  margin: 0 auto;
  text-align: center;
  padding: 20px; }

label, input {
  margin: 10px 4px; }

form li {
  display: list-item;
  text-align: left; }

form label {
  width: 120px;
  display: inline-block; }

#footer {
  width: 780px;
  margin: 30px auto;
  text-align: center; }

#events {
  text-align: left; }
  #events ul li {
    list-style: none;
    line-height: 19px; }

#events form {
  margin: 20px 0; }

#event_input_small {
  width: 630px;
  float: left;
  padding: 3px;
  border: 1px solid #081073;
  background-color: #62d99c;
  color: #2f3584;
  margin-top: 13px; }

#talk {
  padding: 6px;
  background-color: #ffa940;
  color: #0969a2;
  border: 1px solid #081073;
  cursor: hand; }

#actions {
  width: 780px;
  margin-bottom: 15px;
  height: 20px;
  text-align: center; }

#actions ul {
  list-style: none;
  margin: 15px auto;
  padding: 0; }

#actions li {
  display: inline;
  background-color: #2f3584;
  height: 20px;
  padding: 5px 15px;
  margin: 0 5px; }

#actions a {
  text-decoration: none;
  color: #ff8c00; }
  #actions a:hover {
    color: #ffc073; }

.clear {
  clear: both; }

.myproject {
  font-weight: bold; }

.list {
  text-align: left; }

form ul li {
  list-style: none; }

.error {
  color: #081073;
  background-color: #ff0000; }

.message {
  color: #081073;
  background-color: #0c0; }

#time {
  display: inline-block;
  padding: 0 6px; }

.character {
  display: table-row;
  height: 25px;
  border-bottom: 1px solid #CCC; }

.character_sex {
  display: table-cell;
  width: 30px; }

.character_name {
  display: table-cell;
  width: 200px;
  text-align: left; }

.character_location {
  display: table-cell;
  width: 200px; }

.character_project {
  display: table-cell;
  width: 100px; }

.character_events {
  display: table-cell;
  width: 100px; }

.new_event {
  background-color: #3d9ad1;
  color: #081073; }

.objects-menu {
  width: 780px;
  text-align: center;
  padding: 2px 0;
  font-weight: bold;
  background-color: #0969a2;
  color: #62d99c;
  margin: 3px auto; }

.table_left {
  width: 170px;
  float: left;
  text-align: left; }

.table_right {
  width: 600px;
  float: left;
  text-align: left; }

.note {
  background-color: #0969a2;
  color: #eee;
  padding: 15px;
  margin: 20px;
  text-align: left;
  font-family: "Courier New", monospaced; }

#people_list {
  text-align: left;
  margin: 10px;
  padding: 5px; }

#people_list div {
  min-height: 26px;
  vertical-align: center; }
